{
    "min_score": 2000,
    "wait_from": 50,
    "wait_to": 70,
    "posts_to_get_every_time": 27,
    "max_posts_every_time": 4,
    "no_posts_wait_time": 30,
    "min_comment_score": 1000,
    "main_channel_id": "GifsSubredditWithComments",
    "comments_channel_id": "forwardtestchannel",
    "max_line_chars": 40,
    "telegram_api_key": "abc123",
    "reddit_client_id": "abc123",
    "reddit_client_secret": "abc123",
    "reddit_user_agent": "telegram-poster",
    "max_comments_message_length": 4096,
    "min_time_since_created": 360
}
